<h1>Bool - Class</h1>
<p>The bool class represents a Boolean value. True or False are the two possible keywords and only values.</p>

<h2>Définition</h2>
<code><pre><span class="code-violet">primary class</span> <span class="code-red">bool</span></pre></code>

<h2>Properties</h2>
<p>This class has no public property.</p>

<h2>Constructor</h2>
<p>This class cannot be defined via the "new" keyword.</p>

<h2>Methods</h2>
<div class="subsection">

    <h1>str - To String</h1>
    <p>This method returns the string representing the number.</p>

    <h2>Définition</h2>
    <code><pre><span class="code-violet">func</span> <span class="code-red">str</span><span class="code-grey">:str</span></pre></code>
    
    <h2>Arguments</h2>
    <p>This function takes no arguments.</p>
    
    <h2>Exemples</h2>
    <div class="io">
        <div><code><pre><span class="code-blue">puts</span>(<span class="code-orange">3.14</span>.<span class="code-blue">str</span>())
<span class="code-blue">puts</span>(<span class="code-orange">0.0001</span>.<span class="code-blue">str</span>())</pre></code></div>
        <div><code><pre>3.14
0.0001</pre></code></div>
    </div>

    <div class="sep"></div>

    <h1>int - To Int</h1>
    <p>This method returns an integer (int) of the same value, but rounded</p>

    <h2>Définition</h2>
    <code><pre><span class="code-violet">func</span> <span class="code-red">int</span><span class="code-grey">:int</span></pre></code>
    
    <h2>Arguments</h2>
    <p>This function takes no arguments.</p>
    
    <h2>Exemples</h2>
    <div class="io">
        <div><code><pre><span class="code-blue">puts</span>(<span class="code-orange">8.54</span>.<span class="code-blue">int</span>())
<span class="code-blue">puts</span>(<span class="code-orange">0.0001</span>.<span class="code-blue">int</span>())</pre></code></div>
        <div><code><pre>9
0</pre></code></div>
    </div>
     
</div>

<h2>Relations</h2>
<p><span class="arg">=</span></p>
<p><span class="arg">and</span><span class="arg">or</span><span class="arg">not</span></p>