<h1>Gets - Function</h1>
<p>The "gets" function allows you to ask the user for a value on the standard input/output.</p>

<h2>Définition</h2>
<code><pre><span class="code-violet">func</span> <span class="code-red">gets</span>(value<span class="code-grey">:str</span>)<span class="code-grey">:str</span></pre></code>

<h2>Arguments</h2>
<p><span class="arg">value</span>This argument is the text that would be written to the standard output.</p>

<h2>Return</h2>
<p><span class="arg">str</span>"gets" returns a value of type string which contains what the user entered.</p>

<h2>Exemples</h2>
<code><pre><span class="code-violet">let</span> username <span class="code-red">=</span> <span class="code-blue">puts</span></span>(<span class="code-darkgreen">"Enter your name : "</span>)</pre></code>
<h3>Output (Assuming the user is entering Bob) :</h3>
<code><pre>Enter your name : Bob</pre></code>
<p>The value of the "username" variable is now "Bob"</p>