<h1>Puts - Function</h1>
<p>The "puts" function allows you to print text on the standard output.</p>

<h2>Définition</h2>
<code><pre><span class="code-violet">func</span> <span class="code-red">puts</span>(value<span class="code-grey">:str</span>)</pre></code>

<h2>Arguments</h2>
<p><span class="arg">value</span> This argument is the text that would be written to the standard output with a newline.</p>

<h2>Exemples</h2>
<code><pre><span class="code-blue">puts</span>(<span class="code-green">"Hello World"</span>)
<span class="code-violet">let</span> foo <span class="code-red">=</span> <span class="code-green">"A cool message"</span>
<span class="code-blue">puts</span></span>(foo)</pre></code>
<h3>Output :</h3>
<code><pre>Hello World
A cool message
</pre></code>