<h1>Range - Function</h1>
<p>The range function returns a list of integers in a certain field.</p>

<h2>Définition</h2>
<code><pre><span class="code-violet">func</span> <span class="code-red">range</span>(to<span class="code-grey">:int</span>)<span class="code-grey">:list&lt;int&gt;</span></pre></code>
<code><pre><span class="code-violet">func</span> <span class="code-red">range</span>(from<span class="code-grey">:int</span>, to<span class="code-grey">:int</span>)<span class="code-grey">:list&lt;int&gt;</span></pre></code>

<h2>Arguments</h2>
<p><span class="arg">from</span>Maximum number of the list, not included.</p>
<p><span class="arg">to</span>Minimum of the list, includes</p>

<h2>Return</h2>
<p><span class="arg">list&lt;int&gt;</span>The range function returns a list of increasing numbers between "from" and "to".</p>

<h2>Exemples</h2>
<code><pre><span class="code-violet">let</span> variable <span class="code-red">=</span> <span class="code-blue">range</span></span>(<span class="code-orange">3</span>, <span class="code-orange">7</span>) <span class="code-darkgreen">// [3, 4, 5, 6]</span></pre></code>
<p>This function is often used for for loops.</p>
<code><pre><span class="code-violet">for</span> i <span class="code-violet">in</span> <span class="code-blue">range</span></span>(<span class="code-orange">4</span>)
    <span class="code-blue">puts</span>(i)</pre></code>
<p>Output :</p>
<code><pre>0
1
2
3</pre></code>